<p style="color: green"><%= notice %></p>
<div class="md:container md:mx-auto p-4 my-2">
<p class="text-3xl py-4"><strong>Welcome to the Appointments Maker</strong></p>

  <%= link_to "New appointment", new_appointment_path %>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
   
   <!-- <p>
      <%= link_to "Show this appointment", appointment %>
    </p>
   -->

  <% end %>
</div>


</div>
