<h1>New appointment</h1>

<%= turbo_frame_tag Appointment.new do %>
  <%= render "form", appointment: @appointment %>
<% end %>

<br>

<div>
  <%= link_to "Back to appointments", appointments_path %>
</div>
